@using System.Web.Optimization
@model dynamic
@using MovieNight.Domain.enams
@using MovieNight.Web.Infrastructure

@{
var userModel = HttpContext.Current.GetMySessionObject();
}
@model List<MovieNight.Web.Models.Review.ReviewModel>

<div>
<div class="content">

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Movie Night</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Cinema</a></li>
                        <li class="breadcrumb-item active">Review</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->


    <div class="row">
        <div class="col-lg-4">
            <div class="card-box">
                @if (userModel.Role is LevelOfAccess.Admin or LevelOfAccess.Moderator)
                {
                    <a class href="" role="button">
                        <i class="remixicon-delete-bin-3-line"></i>
                    </a>
                }
                <h4 class="header-title">
                    That's great!
                </h4>
                <p class="sub-header">
                    Write your positive feedback here.
                </p>

                <ul class="sortable-list tasklist list-unstyled" id="upcoming">
                    <li id="task1" class="task-medium">
                        @if (userModel.Role is LevelOfAccess.Admin or LevelOfAccess.Moderator)
                        {
                            <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                                <input type="checkbox">
                                <label></label>
                            </div>
                        }

                        @foreach (var review in Model)
                        {
                            if(review.ReviewType == TypeOfReview.Great)
                            {
                                <h5 class="mt-0"><a href=@Url.Action("PersonalProfile", "InformationSynchronization") class="text-dark">@review.User</a></h5>

                                <p>@review.Text</p>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-auto">
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="@userModel.Avatar" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <div class="text-right">
                                            <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i>@review.Date</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </li>

                </ul>
                <a href="javascript: void(0);" class="btn btn-primary btn-block mt-3 waves-effect waves-light"><i class="remixicon-quill-pen-line"></i> Add New </a>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-4">
            <div class="card-box">
                @if (userModel.Role is LevelOfAccess.Admin or LevelOfAccess.Moderator)
                {
                    <a class href="" role="button">
                        <i class="remixicon-delete-bin-3-line"></i>
                    </a>
                }
                <h4 class="header-title">
                    It's fine.
                </h4>
                <ul class="sortable-list tasklist list-unstyled" id="inprogress">
                    <li id="task6" class="task-low">
                        @if (userModel.Role is LevelOfAccess.Admin or LevelOfAccess.Moderator)
                        {
                            <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                                <input type="checkbox">
                                <label></label>
                            </div>
                        }

                        @foreach (var review in Model)
                        {
                            if (review.ReviewType == TypeOfReview.Fine)
                            {
                                <h5 class="mt-0"><a href=@Url.Action("PersonalProfile", "InformationSynchronization") class="text-dark">@review.User</a></h5>

                                <p>@review.Text</p>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-auto">
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="@userModel.Avatar" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <div class="text-right">
                                            <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i>@review.Date</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </li>

                </ul>
                <a href="javascript: void(0);" class="btn btn-primary btn-block mt-3 waves-effect waves-light"><i class="remixicon-quill-pen-line"></i> Add New </a>
            </div> <!-- end card-box -->
        </div> <!-- end col -->

        <div class="col-lg-4">
            <div class="card-box">
                @if (userModel.Role is LevelOfAccess.Admin or LevelOfAccess.Moderator)
                {
                    <a class href="" role="button">
                        <i class="remixicon-delete-bin-3-line"></i>
                    </a>
                }
                <h4 class="header-title">
                    Waste of time!
                </h4>
                <p class="sub-header">
                    Write your negative reviews here (only decently please).
                </p>

                <ul class="sortable-list tasklist list-unstyled" id="completed">
                    <li id="task10" class="task-low">

                        @if (userModel.Role is LevelOfAccess.Admin or LevelOfAccess.Moderator)
                        {
                            <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                                <input type="checkbox">
                                <label></label>
                            </div>
                        }
                        @foreach (var review in Model)
                        {
                            if (review.ReviewType == TypeOfReview.Waste)
                            {
                                <h5 class="mt-0"><a href=@Url.Action("PersonalProfile", "InformationSynchronization") class="text-dark">@review.User</a></h5>

                                <p>@review.Text</p>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-auto">
                                        <a href="javascript: void(0);" class="text-muted">
                                            <img src="@userModel.Avatar" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                        </a>
                                    </div>
                                    <div class="col">
                                        <div class="text-right">
                                            <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i>@review.Date</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </li>
                </ul>
                <a href="javascript: void(0);" class="btn btn-primary btn-block mt-3 waves-effect waves-light"><i class="remixicon-quill-pen-line"></i> Add New</a>
            </div> <!-- end card-box -->
        </div> <!-- end col -->

    </div>
<!-- end row -->
                        
</div> <!-- container -->

</div> <!-- content -->
</div>
@Scripts.Render("~/bundles/kanban/js")