
@{
    ViewBag.Title = "Starred";
}
@model List<MovieNight.Web.Models.Mail.InboxModel>
<div>
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Movie Night</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Email</a></li>
                                <li class="breadcrumb-item active">Inbox</li>
                                <li class="breadcrumb-item active">Starred</li>
                            </ol>
                        </div>
                        <h4 class="page-title text-warning font-weight-bold">Starred</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->


            <div class="row">

                <!-- Right Sidebar -->
                <div class="col-12">
                    <div class="card-box">
                        <!-- Left sidebar -->
                        <div class="inbox-leftbar">

                            <a href=@Url.Action("Compose","DataTransfer") class="btn btn-primary btn-block waves-effect waves-light">Compose</a>

                            <div class="mail-list mt-4">
                                <a href=@Url.Action("Inbox","DataTransfer") class="list-group-item border-0 "><i class="mdi mdi-inbox font-18 align-middle mr-2"></i>Inbox</a>
                                <a href=@Url.Action("Starred","DataTransfer") class="list-group-item border-0 text-warning font-weight-bold"><i class="mdi mdi-star font-18 align-middle mr-2"></i>Starred</a>
                                <a href=@Url.Action("SentMail","DataTransfer") class="list-group-item border-0 "><i class="mdi mdi-send font-18 align-middle mr-2"></i>Sent Mail</a>
                            </div>

                        </div>
                        <!-- End Left sidebar -->

                        <div class="inbox-rightbar">

                            <div class="btn-group">
                            </div>
                            <div class="btn-group">
                                <div class="dropdown-menu">
                                </div>
                            </div>
                            <div class="btn-group">
                            </div>

                            <div class="mt-3">
                                <ul class="message-list">
                                    @foreach (var ms in Model)
                                    {
                                    if(ms.IsChecked) {
                                    <li class="unread">
                                        <div>
                                                <a href="@Url.Action("Trash", "DataTransfer", new { mailId = ms.Id })" class="subject">
                                                    <span class=" remixicon-delete-bin-3-line text-primary"></span>
                                                </a>
                                            <a href="@Url.Action("DeleteStarMail", "DataTransfer", new { mailId = ms.Id })" class="subject">
                                                <span class="remixicon-moon-fill text-warning"></span>
                                            </a>
                                            <a href="@Url.Action("Read", "DataTransfer",new { mailId = ms.Id })" class="title">@ms.SenderName</a>
                                        </div>
                                        <div class="col-mail col-mail-2">
                                            @if(ms.Theme!=null)
                                            {
                                            <a href="@Url.Action("Read", "DataTransfer",new { mailId = ms.Id })" class="subject">
                                                <span class="teaser">@ms.Theme</span>
                                            </a>
                                            }
                                            else
                                            {
                                            <a href="@Url.Action("Read", "DataTransfer",new { mailId = ms.Id })" class="subject">
                                                <span class="teaser"></span>
                                            </a>
                                            }
                                            <div class="date">@ms.Date</div>
                                        </div>
                                    </li>}
                                    else{
                                    <li class="unread">
                                        <div>
                                                <a href="@Url.Action("Trash", "DataTransfer", new { mailId = ms.Id })" class="subject">
                                                    <span class=" remixicon-delete-bin-3-line text-primary"></span>
                                                </a>
                                            <a href="@Url.Action("DeleteStarMail", "DataTransfer", new { mailId = ms.Id })" class="subject">
                                                <span class="remixicon-moon-fill text-warning"></span>
                                            </a>
                                            <a href="@Url.Action("Read", "DataTransfer",new { mailId = ms.Id })" class="title text-primary">@ms.SenderName</a>
                                        </div>
                                        <div class="col-mail col-mail-2">
                                            @if(ms.Theme!=null)
                                            {
                                            <a href="@Url.Action("Read", "DataTransfer",new { mailId = ms.Id })" class="subject">
                                                <span class="teaser text-primary">@ms.Theme</span>
                                            </a>
                                            }
                                            else
                                            {
                                            <a href="@Url.Action("Read", "DataTransfer",new { mailId = ms.Id })" class="subject">
                                                <span class="teaser"></span>
                                            </a>
                                            }
                                            <div class="date text-primary">@ms.Date</div>
                                        </div>
                                    </li>
                                    }
                                    }
                                </ul>
                            </div>
                            <!-- end .mt-4 -->

                            <div class="row">
                                <div class="col-7 mt-1">
                                    Showing 1 - 20
                                </div> <!-- end col-->
                                <div class="col-5">
                                    <div class="btn-group float-right">
                                        <button type="button" class="btn btn-light btn-sm"><i class="mdi mdi-chevron-left"></i></button>
                                        <button type="button" class="btn btn-info btn-sm"><i class="mdi mdi-chevron-right"></i></button>
                                    </div>
                                </div> <!-- end col-->
                            </div>
                            <!-- end row-->
                        </div>
                        <!-- end inbox-rightbar-->

                        <div class="clearfix"></div>
                    </div> <!-- end card-box -->

                </div> <!-- end Col -->
            </div><!-- End row -->

        </div> <!-- container -->

    </div> <!-- content -->
</div>
