    @model List<MovieNight.Web.Models.Movie.ViewingHistoryModel>

@{
    ViewBag.Title = "ViewedList";
}




    <div class="content">


        <!-- Start Content-->
        <div class="container-fluid">


            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Movie Night</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">My Account</a></li>
                                <li class="breadcrumb-item active">My viewed list</li>
                            </ol>
                        </div>
                        <h4 class="page-title">My viewed list</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">List of what was reviewed</h4>
                       
                        
                        <table id="alternative-page-datatable" class="table dt-responsive nowrap movie-table">
                            <thead>
                                <tr >
                                    <th>Title of the film</th>
                                    <th>Year of release</th>
                                    <th>Review date</th>
                                    <th>Movie Night</th>
                                    <th >Your grade</th>
                                </tr>   
                            </thead>


                            <tbody>
                            @foreach (var movie in Model)
                            {
                            <tr>
                                <td>@movie.Title</td>
                                <td>@movie.ReviewDate.Year</td>
                                <td>@movie.ReviewDate.ToString("yyyy-MM-dd")</td>
                                <td>@movie.UserValues</td>
                                <td>@movie.UserViewCount</td>
                            </tr>
                            }
                            </tbody>
                        </table>

                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>



    </div>


