@using System.Web.Optimization

@{
    ViewBag.Title = "Pages Recover";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>MovieNight | @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/images/logo.ico">
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/icons/css")
    @Styles.Render("~/bundles/app/css")
</head>

<body class="authentication-bg">

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="text-center w-75 m-auto">
                            <a href=@Url.Action("Primary", "MainPage")>
                                <span><img src="~/images/logo_text.png" alt="" height="44"></span>
                            </a>
                            <p class="text-muted mb-4 mt-3">Enter your email address and we'll send you an email with instructions to reset your password.</p>
                        </div>

                        @using (Ajax.BeginForm("RecoverPassword", "Identification",
                        new AjaxOptions {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "result", 
                        OnSuccess = "onSuccess",
                        OnFailure = "onFailure"
                        }))
                        {
                        @Html.AntiForgeryToken()
                        <div class="alert alert-danger" style="display:none;"></div>
                        <div class="form-group mb-3">
                            <label for="emailaddress">Email address</label>
                            <input class="form-control" type="email" id="emailaddress" name="Email" required="" placeholder="Enter your email">
                        </div>

                        <div class="form-group mb-0 text-center">
                            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                        </div>
                        }

                        <div id="codeMessage" style="display:none;">
                            <p class="text-success mt-3">Recovery email sent. Please check your email for the recovery code.</p>
                        </div>

                        <div id="codeForm" style="display:none;">
                            @using (Ajax.BeginForm("VerifyCode", "Identification",
                            new AjaxOptions {
                            HttpMethod = "POST",
                            OnSuccess = "onVerifyCodeSuccess",
                            OnFailure = "onFailure"
                            }))
                            {
                            @Html.AntiForgeryToken()

                            <div class="form-group mb-3">
                                <label for="code">Recovery Code</label>
                                <input class="form-control" type="text" id="code" name="Code" required="" placeholder="Enter the recovery code">
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-success btn-block" type="submit">Submit Code</button>
                            </div>
                            }
                        </div>

                        <div id="passwordForm" style="display:none;">
                            @using (Ajax.BeginForm("VerifyCodeAndResetPassword", "Identification",
                            new AjaxOptions {
                            HttpMethod = "POST",
                            OnSuccess = "onPasswordResetSuccess",
                            OnFailure = "onFailure"
                            }))
                            {
                            @Html.AntiForgeryToken()

                            <div class="form-group mb-3">
                                <label for="newpassword">New Password</label>
                                <input class="form-control" type="password" id="newpassword" name="NewPassword" required="" placeholder="Enter your new password">
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                            </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Back to <a href=@Url.Action("Login", "Identification") class="text-warning font-weight-medium ml-1">Log in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" style="margin-right: 0!important; margin-left: 0!important;" class=" bg-dark text-white py-4">
    <div style="margin-left: 240px">
        @Html.Partial("_Footer")
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js" integrity="sha512-f04GBpoqEZhbyjlRTuXeg8FIHDb+xfCJ0LVdqiN1fEl5B3jz3Z0SPe9IxDumOVdTeeXmKMcMJhb26VuGf1Laqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script type="text/javascript">
    function onSuccess(response) {
        if (response.success) {
            $('#codeMessage').show();
            $('#codeForm').show();
        } else {
            alert(response.message);
        }
    }

    function onVerifyCodeSuccess(response) {
        if (response.success) {
            $('#codeForm').hide();
            $('#passwordForm').show();
        } else {
            alert(response.message);
        }
    }

    function onPasswordResetSuccess(response) {
        if (response.success) {
            alert('Password reset successfully');
            window.location.href = '@Url.Action("Login", "Identification")';
        } else {
            alert(response.message);
        }
    }

    function onFailure() {
        alert('An error occurred. Please try again.');
    }
    
</script>

</body>
</html>
